.cnexus__contact {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: rgba(255,174,66);

    
}

.cnexus__contact-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    justify-content: flex-start;
    
    
}

.cnexus__contact-content p {
    opacity: 1;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color:white;
    text-align: left;
   

}

.cnexus__contact-content h2 {
    font-family: var(--font-family);
    font-weight: 650;
    font-size: 45px;
    line-height: 50px;
    text-align: left;
    
    width:100%;
    margin-bottom: 5px;
    
    margin-top: 0;
    
}

.cnexus__contact-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    
    padding-bottom: 1rem;
}

.cnexus__contact-btn button {
    background:rgba(72, 130, 229, 0.6);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    margin: 10px;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}
.cnexus__contact-btn button:hover {
    color: white;
    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 750px) {
    .cnexus__contact {
        flex-direction: column;
        justify-content: center;
        
    }
    .cnexus__contact-content {
        flex-direction: column;
        align-items: center;
        
        
    }
    .cnexus__contact-content h2 {
        text-align: center;
        
    }
    .cnexus__contact-content p {
        text-align: center;
        
    }

   
}

@media screen and (max-width: 550px) {
    

    .cnexus__contact-content h2 {
        font-size: 36px;
        line-height: 48px;
    }
    .cnexus__contact-content p {
        font-size: 18px;
        line-height: 24px;
    }
    .cnexus__contact-content {
        padding: 2rem 2rem;
    }

    .cnexus__contact-btn button {
        font-size: 18px;
        line-height: 24px;
    }
}
