@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --font-family: "Plus Jakarta Sans", sans-serif;

  --gradient-text: radial-gradient(circle at 12% 0%, rgba(251, 255, 32, 1) 0%, rgba(150, 244, 102, 1) 24%, rgba(176, 247, 103, 1) 68%, rgba(251, 255, 32, 1) 98%);
  --gradient-bar: radial-gradient(circle at 12% 0%, rgba(150, 244, 102, 1) 5%, rgba(207, 211, 31, 1) 52%, rgba(176, 247, 103, 1) 91%);
  
  --color-bg: #040C18;
  --color-footer : rgb(10, 174, 84);
  --color-blog: #042c54;
  --color-text: #ffff;
  --color-subtext: #FF8A71;
}